.itemContainer {
  background-color: #f8fafc; /* slate-50 */
  /* 12px */
  border-bottom-left-radius: 0.5rem; /* 8px */
  border-bottom-right-radius: 0.5rem; /* 8px */
  margin-top: -7px;
  /* 8px */
}

.item {
  color: #334155; /* slate-700 */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-bottom: 0.5rem; /* 8px */
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-bottom: 0.75rem;
}
