.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.list {
  width: 300px;
  height: 100%;
  box-sizing: border-box;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  border-right: 1px solid #f1f1f1;
}

.searchContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 3px;
  background-color: white;
}

.searchInput {
  outline: none;
  padding: 10px;
  border: none;
  width: 100vh;
  box-sizing: border-box;
  font-size: 0.875rem;
  font-weight: bold;
}

.searchButton {
  margin-left: 8px;
  margin-right: 8px;
}

.contentItem {
  box-sizing: border-box;
}

.contentLink {
  box-sizing: border-box;
  text-decoration: none;
  color: #1e1e1e;
  width: 100%;
  padding: 5px;
  display: flex;
  flex-direction: row;
  border-top: 0.1px #9f9f9f solid;
}

.contentLink:hover {
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  width: 100%;
  background-color: grey;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.contentLinkSelected {
  box-sizing: border-box;
  text-decoration: none;
  color: white;
  width: 100%;
  background-color: #0652DD;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.titleText {
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.titleDate {
  width: 100px;
  color: grey;
  font-size: 12px;
}


.content {
  flex: 1;
  overflow-x: hidden;
}


.deleteButton {
  //width: 100px;
  background-color: red;
  color: white;
  padding: 0;
}
